<?xml version="1.0" encoding="UTF-8"?>
<suite name="Petstore API Test Suite">
    <test name="Petstore Tests">
        <classes>
            <class name="api_test.CreatePet"/>
            <class name="api_test.UploadFile"/>
            <class name="api_test.GetPetData"/>
            <class name="api_test.DeletePet"/>
            <class name="api_test.UpdatePet"/>
            <class name="api_test.GetInventory"/>
            <class name="api_test.CreateOrder"/>

        </classes>
    </test>
</suite>